
<footer class="text-muted w-100 py-5">
    <div class="container">
      <hr />
      <p class="float-end"><a href="#">Back to top</a></p>
      <h4> Award Shows</h4>
      <table class="table w-auto">
        <tbody>
          <tr>
            <th class="ps-0 border-0" scope="row">2022</th>
            <td class="border-0"><a href="/oscars/2022/">Oscars 2022</td>
            <td class="border-0"><a href="/sag/2022/">SAG 2022</td>
          </tr>
          <tr>
            <th class="ps-0 border-0" scope="row">2021</th>
            <td class="border-0" ><a href="/oscars/2021/">Oscars 2021</td>
            <td class="border-0"><a href="/emmys/2021/">Emmys 2021</td>
            <td class="border-0"><a href="/tonys/2021/">Tonys 2021</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <p>Last Updated: {{ 'now' | date: '%B %d, %Y' }} <br />
         {{ site.title }} is a project by <a href="http://melvitax.com">Melvin Rivera</a><br />
        Follow @{{site.twitter}} on <a href="https://twitter.com/{{site.twitter}}"><i class="fab fa-twitter"></i> Twitter</a>
      </p>
    </div>
  </footer>
