
<footer class="text-muted w-100 py-5">
    <div class="container">
      <hr />
      <p class="float-end"><a href="#">Back to top</a></p>
      <h4> Award Shows</h4>
      <table class="table w-auto">
        <tbody>
          <tr>
            <th scope="row">2001</th>
            <td><a href="/oscars/2021/">Oscars</td>
            <td><a href="/emmys/2021/">Emmys</td>
            <td><a href="/tonys/2021/">Tonys</td>
          </tr>
        </tbody>
      </table>
      <hr />
      <p>Last Updated: {{ 'now' | date: '%B %d, %Y' }} <br />
         {{ site.title }} is an <a href="https://github.com/{{site.github}}">open source</a> project by <a href="http://melvitax.com">Melvin Rivera</a><br />
        Follow on <a href="https://twitter.com/{{site.twitter}}"><i class="fab fa-twitter"></i></a>
      </p>
    </div>
  </footer>
