<header class="header sticky-top navbar-light navbar-blur pb-2">
    <nav class="navbar">
        <div class="container">
            <div>
                <h1 class="site-title fw-bold lh-1 w-100">{{site.title}}</h1>
            </div>
            {% capture layoutChoice  %}{% if include.pagelayout == "nominees" %}nominees/{% else %}{% endif %}{% endcapture %}
            <div class="btn-group">
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="">{{ include.event | capitalize }}</span>
                    </button>
                    <ul class="dropdown-menu" style="max-height: 50vh; max-width: 90vw; overflow-y: scroll">
                        <li><a class="dropdown-item" href="/oscars/2022/{{layoutChoice}}">Oscars</a></li>
                        <li><a class="dropdown-item" href="/emmys/2021/{{layoutChoice}}">Emmys</a></li>
                        <li><a class="dropdown-item" href="/tonys/2021/{{layoutChoice}}">Tonys</a></li> 
                    </ul>
                </div>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="">{{ include.year }}</span>
                    </button>
                    <ul class="dropdown-menu" style="max-height: 50vh; max-width: 90vw; overflow-y: scroll">
                        {% for aDate in include.dates %}
                        <li><a class="dropdown-item" href="/{{include.event}}/{{aDate}}/{{layoutChoice}}">{{aDate}}</a></li>
                        {% endfor %}                            
                    </ul>
                </div>
                <a class="btn btn-outline-warning {% if include.pagelayout == "nominees" %}active{% endif %} nominees" href="/{{include.event}}/{{include.year}}/nominees/"><span>Nominees</span></a>
                <a class="btn btn-outline-warning {% if include.pagelayout == "show" %}active{% endif %} categories" href="/{{include.event}}/{{include.year}}/"><span>Categories</span></a>
                <div class="btn-group" role="group">
                    <button type="button" class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" style="max-height: 50vh; max-width: 90vw; overflow-y: scroll">
                        {% for category in include.categories %}
                        <li><a class="dropdown-item" href="/{{include.event}}/{{include.year}}/#{{ category | slugify  }}">{{ category }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
