<header class="header sticky-top header-blur pb-4">
    <nav class="nav">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between pt-2">
                <!-- Site Title -->
                <div class="d-flex">{{site.title}} <div class="spinner spinner-border text-warning ms-1 " role="status" style="width: 1.3em; height: 1.3em;">
                    <span class="visually-hidden">Loading...</span>
                  </div></div>
                <!-- Browse Categories -->
                <div class="d-flex">
                    {% if page.layout == "categories" %}
                    <div type="button" class="dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        Categories
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </div>
                    <ul class="dropdown-menu dropdown-menu-end" style="max-height: 50vh; max-width: 90vw; overflow-y: scroll">
                        {% for cat in include.categories %}
                        <li><a class="dropdown-item" href="/{{include.show}}/{{include.year}}/#{{ cat.title | slugify  }}">{{ cat.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>
            </div>
            <div class="justify-content-center">
                <!-- Show Title -->
                <h1 class="site-title fw-bold col-10 col-md-auto text-center pb-2 m-0">{{ page.title }}</h1>
            </div>
            <!-- Score Card-->
            <div class="d-flex score-card" data-year="{{ include.year }}" data-show="{{ include.show }}" style="gap: 10px; height: 12px;">
                {% for cat in include.categories %}
                    {% assign catid =  cat.title | slugify %}
                    <div class="pill col bg-dark rounded-3" data-cat="{{ catid }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,20" title="{{ cat.title }}">&nbsp;
                    </div>
                {% endfor %}
            </div>
        </div>
    </nav>
</header>
