<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js" ></script>
<!-- Bootstrap -->
<script src="/vendor/bootstrap/bootstrap.bundle.min.js"></script>
<!-- intersection-observer -->
<script src="/vendor/intersection-observer/intersection-observer.js"></script>
<!-- Main -->
<script async src="/js/main.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-ZHR754T56Y"></script>
<!-- CloudKit-->
<script src="/vendor/cloudkit/cloudkit.js" async></script>
{% include ga.html %}
