<!-- Filter -->
<div class="signinout pt-3 float-end">
    <span class="align-middle" id="displayed-username"></span>
    <span class="lh-1 align-middle" id="apple-sign-out-button"></span>
    <span class="lh-1 align-middle" id="apple-sign-in-button"></span>
</div>
<div class="btn-group pt-3" role="group" aria-label="Navigation Menu">
    <a class="btn btn-{% if page.layout != 'categories' %}outline-{% endif %}warning" href="/{{page.show}}/{{page.year}}/" >Categories</a>
    <a class="btn btn-{% if page.layout != 'nominees' %}outline-{% endif %}warning" href="/{{page.show}}/{{page.year}}/nominees/" >Films</a>
    <a class="btn btn-{% if page.layout != 'streaming' %}outline-{% endif %}warning" href="/{{page.show}}/{{page.year}}/streaming/" >Streaming</a>
</div>
