{% assign data = site.data[include.show][include.year] %}
{% assign numofcat = data.categories | size | plus: 1 | divided_by: 2.0 %}
{% assign imgwidth = 100.00 | divided_by: numofcat  %}
{% assign yoffset = imgwidth | times: 8.3 %}

<div class="pb-3 winners" style="top: -{{ yoffset }}px">
    <h3>Winners</h3>
    <div class="accordion position-relative w-100">
        {% for cat in data.categories %}
            {% assign catid =  cat | slugify %}
            {% assign catsize =  data.categories | size %}
            {% capture widthpercent %}{% if forloop.index < catsize %}{{ imgwidth }}{% else %}{{ imgwidth | plus: 0.1 }}{% endif %}{% endcapture %}
            {% assign offset = widthpercent | divided_by: 2.0 %}
            {% capture left %}{% if forloop.index > 1 %}-{{ offset }}%{% else %}0{% endif %}{% endcapture %}
            {% assign zindex = data.categories | size | plus: 1 |  minus: forloop.index %}
            
            <div class="img-wrapper"  style="margin-left: {{ left }}; width: {{ imgwidth }}%;  z-index: {{ zindex }}">
                <div class="img-container" >
                    {% for nominee in data.nominees %}
                    {% assign noms = nominee.noms | where: "cat", cat %}
                    {% for nom in noms %}
                    {% if nom.winner %}
                        {% capture image %}{% if nom.id %}{{ nom.id }}{% else %}{{ nominee.id }}{% endif %}{% endcapture %}
                        {% capture nomtitle %}{{ cat }} - {{ nominee.title }}{% if nom.name %} - {{ nom.name }}{% endif %}{% if nom.sub %}{% if nom.name %} - {% endif %}{{ nom.sub }}{% endif %}{% endcapture %}
                        <img class="card-img w-100 h-100 rounded-5 p-0" src="/{{include.show}}/{{include.year}}/images/{{ image }}-t.jpg" width="230" height="355" alt="{{ alt }}" data-cat="{{ catid }}" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-offset="0,20" title="{{ nomtitle }}" />
                    {% endif %}
                    {% endfor %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div class="clearfix">&nbsp;</div>
    </div>
</div>