
:root {
    color-scheme: light dark;
}
body {
    background-color: rgb(18, 17, 17);
    color: white;
    height: 100%;
}
a:link, a:hover, a:active, a:visited {
    text-decoration: none;
}
@media (min-width: 992px) {
    .layout-categories .card-columns .col-md-2 {
        width: 20%;
        float: left;
    }
  }
@media (min-width: 1200px) {
    .layout-categories .card-columns .col-lg-2 {
        width: 20%;
        float: left;
    }
  }
h1.site-title {
    color: white;
    font-size: 7.8vw;
}
h1.site-title a:link, h1.site-title a:visited {
    color: white;
}
h1.site-title a:hover, h1.site-title a:active {
    color: #ffc107;
}
@include media-breakpoint-up(md) { h1.site-title { font-size: 2.8em; } }

.accordion .img-wrapper {
    position: relative;
    float: left;
    box-shadow: 0.2rem 0 0.5rem rgba(0,0,0,0.15);
    border-radius: .25rem;
    background: rgb(84,91,97);
    background: linear-gradient(0deg, rgba(84,91,97,1) 0%, rgba(108,117,125,1) 100%);
    overflow: hidden;
}
.accordion .img-wrapper:hover  {
    transition: ease-in-out 0.25s all !important;
    transform: scale(1.2);
    z-index: 999 !important;
    box-shadow: 0 0.5rem 3rem rgba(0,0,0,0.5)
}
.accordion .img-container::before {
    float: left;
    padding-top: 154.6875%;
    content: '';
  }
.accordion .img-container::after {
    display: block;
    content: '';
    clear: both;
}
.accordion img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;  
}
.my-picks img {
    display: none;
}
.accordion .default {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 5%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 0.7em;
    text-align: center;
    color: rgb(116, 127, 136);
}
.my-picks h3 {
    text-align: center;
    width: 100%;
    font-size: 1rem;
}
.layout-home .my-picks .default { 
    opacity: 0 
}
.layout-home .my-picks{
    opacity: 0.5;
}
.winners {
    position: relative;

}
.winners h3 {
    position: absolute;
    bottom: 0;
    z-index: 99;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}
.show-summary:hover {
    cursor: pointer;
}
.border-bottom {
    border-bottom: 1px solid #252626 !important;
}
.cat-title {
    letter-spacing: 0.2em;
}
h2.show-title {
    color: white;
}
.item-title {
    color: rgb(179, 179, 179);
    border-top: 6px solid transparent;
}
.nom:hover {
    cursor: pointer;
}
.nom:hover .item-title {
    color: white
}
.nom:hover .meta {
    color: white
}
.nominee-title {
    color: white;
    border-bottom: 1px solid rgb(98, 98, 98);
}
.header-blur {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-backdrop-filter: blur(10px); 
    backdrop-filter: blur(10px);
    border-bottom: rgba(128, 128, 128, 0.3) 1px solid;
} 
.nav .btn-outline-warning:not(.active) {
    background-color: transparent;
    color: white;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover, .grow:active { 
  transform: translateZ(0px) scale(1.05);
  box-shadow: 0 10px 50px rgba(0, 0, 0, .5);
  cursor: pointer;
}
.fav .fa-regular { 
    display: block;
}
.fav .fa-solid { 
    display: none;
}
.selected {
    .card-img  {
        border: 1px solid #ffc107;
    }
    .fav .fa-regular { 
        display: none;
    }
    .fav .fa-solid { 
        display: block;
        color: #ffc107;
    }
}
.nom:hover .card-img {
    border: 1px solid #ffc107;
}
.nom:hover .fav {
    .fa-regular { 
        display: none;
    }
    .fa-solid { 
        display: block;
        color: #ffc107;
    }
}
.source-logo {
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(37,42,38,0) 0%, rgba(37,42,38,0) 11.9%, rgba(255,255,255,0) 11.9%) ;
    background-size: contain;
}
.source-logo.appletvplus {
    background-image: url("/assets/images/appletvplus.svg");
}
.source-logo.appletvplus:hover {
    background-image: url("/assets/images/appletvplus-h.svg")
}

.source-logo.disneyplus {
    background-image: url("/assets/images/disneyplus.svg");
}
.source-logo.disneyplus:hover {
    background-image: url("/assets/images/disneyplus-h.svg")
}

.source-logo.hbomax {
    background-image: url("/assets/images/hbomax.svg");
}
.source-logo.hbomax:hover {
    background-image: url("/assets/images/hbomax-h.svg")
}

.source-logo.hulu {
    background-image: url("/assets/images/hulu.svg");
}
.source-logo.hulu:hover {
    background-image: url("/assets/images/hulu-h.svg")
}

.source-logo.justwatch {
    background-image: url("/assets/images/justwatch.svg");
}
.source-logo.justwatch:hover {
    background-image: url("/assets/images/justwatch-h.svg")
}

.source-logo.netflix {
    background-image: url("/assets/images/netflix.svg");
}
.source-logo.netflix:hover {
    background-image: url("/assets/images/netflix-h.svg")
}

.source-logo.paramountplus {
    background-image: url("/assets/images/paramountplus.svg");
}
.source-logo.paramountplus:hover {
    background-image: url("/assets/images/paramountplus-h.svg")
}

.source-logo.peacock {
    background-image: url("/assets/images/peacock.svg");
}
.source-logo.peacock:hover {
    background-image: url("/assets/images/peacock-h.svg")
}

.source-logo.primevideo {
    background-image: url("/assets/images/primevideo.svg");
}
.source-logo.primevideo:hover {
    background-image: url("/assets/images/primevideo-h.svg")
}

.source-logo.showtime {
    background-image: url("/assets/images/showtime.svg");
}
.source-logo.showtime:hover {
    background-image: url("/assets/images/showtime-h.svg")
}

.source-logo.vimeo {
    background-image: url("/assets/images/vimeo.svg");
}
.source-logo.vimeo:hover {
    background-image: url("/assets/images/vimeo-h.svg")
}

.source-logo.youtube {
    background-image: url("/assets/images/youtube.svg");
}
.source-logo.youtube:hover {
    background-image: url("/assets/images/youtube-h.svg")
}

.source-logo.pbs {
    background-image: url("/assets/images/pbs.svg");
}
.source-logo.pbs:hover {
    background-image: url("/assets/images/pbs-h.svg")
}

.source-logo.mgmplus {
    background-image: url("/assets/images/mgmplus.svg");
}
.source-logo.mgmplus:hover {
    background-image: url("/assets/images/mgmplus-h.svg")
}

.card { 
    background-color: transparent;
}
.filter-dropdown.dropdown-toggle::after { 
    content: none; 
} 
.spinner {
    display: none;
}
.spinner.loading {
    display: block;
}
.meta, .votes {
    color: slategray;
}
.nominee-data {
    color: rgb(99, 108, 117);
}
.card .info {
    display: none;
}
.card:hover .info {
    display: block;
}
/*@include media-breakpoint-up(lg) { .nominee-data { padding-left: 1em } }*/
.nominee-data { 
    padding-left: 1em 
}
.video_wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
}
iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
footer th {
    color: white;
}



/***************
 *  Effects   *
****************/
.fadeup {
    opacity: 0;
    transform: translateY(10px);
    transition-property: transform, opacity;
    transition-duration: 1.6s;
    transition-timing-function: ease-out;
}
.fadeup.in-view{
    opacity: 1;
    transform: none;
}