---

---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="layout-{{ page.layout }}">
        {% assign data = site.data[page.show][page.year] %}
	    {% assign dates = "" | split: ',' %}
        {% for aDate in site.data[page.show] %}
            {% assign dates = dates | push: aDate[0] %}
        {% endfor %}
        {% assign sortedDates = dates | sort | reverse %}
        {% include header.html show=page.show year=page.year dates=sortedDates categories=data.categories pagelayout=page.layout %}
        {% assign today = 'now' | date: '%Y%m%d' %}
        {% capture jsyearstofetch %}["{{ page.year }}"]{% endcapture %}
        {% assign jsnominees = "" | split: ',' %}

        <main class="hide">

            <div class="pb-5 main-content">
            <div class="container">
                
            {% include subheader.html %} 

            <div class="row card-columns ml-0 mr-0">

                {% assign grouped = data.nominees | group_by_exp: "item", "item.noms | size" | sort: "name" | reverse %}

                {% for group in grouped %}
                {% for nominee in group.items %}
                <div class="col-12 pt-4 pb-2 mt-4" >
                <div class="row g-0"> 
                        
                    <div class="col-4 col-lg-2 card mb-3 border-0 fadeup" id="card__{{ id }}">

                        <!-- Poster -->
                        <a class="poster" >
                            <img class="card-img w-100 h-100 rounded-5 p-0" src="/{{page.show}}/{{page.year}}/images/{{ nominee.id }}.jpg" width="230" height="355" alt="{{ name }}" data-cat="{{ catid }}" data-nom="{{ nomid }}" />
                        </a>
                            
                        <!-- Buttons -->
                        <div class="buttons w-100 pt-3">
                            {% if nominee.trailer %}
                                {% if nominee.trailer contains "youtube.com" %}
                                    {% assign urlParts = nominee.trailer | split: "v=" %}
                                    {% assign videoID = urlParts[1] %}
                                    {% assign src = 'https://www.youtube.com/embed/' | append: videoID | append: '?showinfo=0&modestbranding=0&color=white&autoplay=0' %}
                                    <a href="#" class="btn btn-outline-secondary btn-block w-100" data-bs-toggle="modal" data-bs-target="#videoModal" data-theVideo="{{ src }}"><i class="fa-regular fa-play"></i> Trailer</a>
                                    {% elsif nominee.trailer contains "vimeo.com" %}
                                    {% assign urlParts = nominee.trailer | split: "/" %}
                                    {% assign videoID = urlParts | last %}
                                    {% assign src = 'https://player.vimeo.com/video/' | append: videoID | append: '?title=0&byline=0&portrait=0' %}
                                    <a href="#" class="btn btn-outline-secondary btn-block w-100" data-bs-toggle="modal" data-bs-target="#videoModal" data-theVideo="{{ src }}"><span class="fa fa-play"> Trailer</span></a> 
                                {% endif %}
                            {% endif %}
                            {% if nominee.streaming and nominee.streaming.size > 0 %}
                                    {% for streamer in nominee.streaming %}
                                        {% if streamer.source %}
                                        {% capture watchURL %}{% if streamer.url %}{{ streamer.url }}{% else %}#{% endif %}{% endcapture %}
                                        <div class="btn-group w-100 providers">
                                            <div type="button" class="btn btn-outline-secondary mt-2 w-100" role="link" onclick="location.href = '{{ watchURL }}';"><div class="source-logo {{streamer.source}}"><span class="visually-hidden">{{ streamer.source }}</span>&nbsp;</div></div>
                                            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split mt-2 " data-bs-toggle="dropdown" aria-expanded="false" data-tmdb-id="{{ nominee.tmdb_id }}" data-tmdb-type="{{ nominee.tmdb_type }}">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                            <ul class="dropdown-menu ">
                                            <li><a class="dropdown-item" href="#">Loading...</a></li>
                                            </ul>
                                        </div>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <div class="btn-group w-100 providers">
                                        <button type="button" class="btn btn-outline-secondary mt-2 w-100" role="link" onclick="location.href = 'https://www.themoviedb.org/{{ nominee.tmdb_type }}/{{ nominee.tmdb_id }}/watch?locale=US';" data-tmdb-id="{{ nominee.tmdb_id }}" data-tmdb-type="{{ nominee.tmdb_type }}"><div class="source-logo justwatch"><span class="visually-hidden">JustWatch</span>&nbsp;</div></button>
                                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle mt-2 " data-bs-toggle="dropdown" aria-expanded="false" data-tmdb-id="{{ nominee.tmdb_id }}" data-tmdb-type="{{ nominee.tmdb_type }}">
                                            <span class="visually-hidden">Toggle Dropdown</span>
                                            </button>
                                        <ul class="dropdown-menu ">
                                        <li><a class="dropdown-item" href="#">Loading...</a></li>
                                        </ul>
                                    </div>
                                {% endif %}
                        </div>

                    </div>

                    <div class="col-8 col-lg-10 nominee-data">

                        <!-- Nominee Title -->
                        <div class="text-muted">{{ nominee.noms | size }} {% if nominee.noms.size > 1 %}NOMINATIONS{% else %}NOMINATION{% endif %}</div>
                        {% assign showDay = data.day | date: '%Y%m%d' %}
                        {% if today >= showDay %}
                            {% assign wins = nominee.noms | where: "winner", true | map: "winner" | size  %}
                            {% if wins > 0 %}
                            <div class="text-muted">{{ wins }} {% if wins == 1 %}WIN{% else %}WINS{% endif %}</div>
                            {% endif %}
                        {% endif %}
                        <h3 class="nominee-title fs-4 fw-bold pb-2 mb-4">{{ nominee.title }}</h3>

                        <div class="row">
                        {% for nom in nominee.noms %}

                        {% capture nomid %}{% if nom.id %}{{ nom.id }}{% else %}{{ nominee.id }}{% endif %}{% endcapture %}
                        {% assign catid =  nom.cat | slugify %}
                        {% capture nomtitle %}{% if nom.name %}{{ nom.name }}{% endif %}{% if nom.by %}{% if nom.name %} - {% endif %}{{ nom.by }}{% endif %}{% endcapture %}
                        {% assign datatitle = cat | append: " - " | append: nominee.title | append: " - " | append: nomtitle | replace: '"', '\"' %}
                        {% capture image %}{% if nom.image %}{{ nom.image }}{% else %}{{ nominee.image }}{% endif %}{% endcapture %}
                        {% assign thumb = image | replace: ".jpg", "-t.jpg" %}

                        {% capture key %}{{ page.show }}|{{ page.year }}|{{ catid }}|{{ nomid }}{% endcapture %}
                        {% capture line %}{ catid: "{{ catid }}", nomid: "{{ nomid }}", winner: "{{ nom.winner }}" }{% endcapture %}
                    {% assign jsnominees = jsnominees | push: line %}
                        {% assign jsnominees = jsnominees | push: line %}

                        <div class="col-12 col-md-6 col-lg-3 nom nom-selector mb-2" data-cat="{{ catid }}" data-nom="{{ nomid }}" data-thumb="{{ thumb }}" data-title="{{ datatitle }}">
                            
                            <!-- Nomination Title -->
                            <h4 class="item-title fs-6 fw-light mb-0" id="{{ nom.cat | slugify }}">
                                {{ nom.cat | upcase }}
                            </h4>

                            <!-- Meta -->
                            <div class="meta w-100">
                                {% if nom.name %}{{ nom.name }}{% endif %}{% if nom.by %}{% if nom.name %} -{% endif %} {{ nom.by }}{% endif %}
                            </div>

                            <!-- Favorite -->
                            <div class="fav float-start pe-2 pt-1">
                                <i class="fa-regular fa-heart h5"></i>
                                <i class="fa-solid fa-heart h5"></i>
                            </div>

                            <!-- Votes -->
                            <div class="votes" data-votes="0">0 votes</div>

                            {% if nom.winner %}
                            <!-- Winner -->
                            <div class="badge rounded-pill bg-danger text-white text-monospace align-bottom ms-1">WINNER</div> 
                            {% endif %}

                            

                        </div>

                        {% endfor %}

                        </div>

                    </div>
     
                </div>
                </div>
                {% endfor %}
                {% endfor %}

            </div>
            </div>
            </div>
            {% include video.html %}
            {% include loading.html %}
            {% include signin.html %}
        </main>
		{% include footer.html %}
        {% include jsbridge.html jsnominees=jsnominees  jsyearstofetch=jsyearstofetch %}
		{% include scripts.html %}
	</body>
</html>
