---

---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="no-observer">
        <script>
            var show = "{{ page.show }}";
            var year = "{{ page.year }}";
            var cloudKitApiToken = "{{ site.cloudKitApiToken }}";
            var cloudKitEnvironment = "{{ site.cloudKitEnvironment }}";
        </script>
        {% assign data = site.data[page.show][page.year] %}
        {% assign dates = "" | split: ',' %}
        {% for aDate in site.data[page.show] %}
            {% assign dates = dates | push: aDate[0] %}
        {% endfor %}
        {% assign sortedDates = dates | sort | reverse %}
        {% include header.html show=page.show year=page.year dates=sortedDates categories=data.categories pagelayout=page.layout %}
        
        <main class="hide">

            <div class="pb-5 main-content">
            <div class="container">

                
                <button type="button" class="fetch-current-user-identity btn btn-outline-warning">Fetch Current User ID</button>
                <button type="button" class="share-picks btn btn-outline-warning">Share Picks</button>
                <button type="button" class="discover-users btn btn-outline-warning">Discover Users</button>

            {% include subheader.html %} 

            <div class="row card-columns ml-0 mr-0">
          
                {% for cat in data.categories %}
                {% assign cat_split = cat | split: ":" %}
                <h3 class="col-10 pt-3 pb-2 text-center border-bottom text-warning fw-light fs-5 cat-title" id="{{ cat | slugify }}">{{ cat_split[0] | upcase }}{% if cat_split[1] %}<br /><small class="fs-5 text-warning">{{ cat_split[1] | upcase}}</small>{% endif %}</h3>
                {% for nominee in data.nominees %}
                {% assign noms = nominee.noms | where: "cat", cat %}
                {% for nom in noms %}
                <div class="col-5 col-sm-3 col-md-2 pt-4 pb-2" >
                    {% capture nomid %}{% if nom.key %}{{ nom.key }}{% else %}{{ nominee.key }}{% endif %}{% endcapture %}
                    {% assign catid =  cat | slugify %}
                    <div class="card mb-3 border-0 animate nom" data-cat="{{ catid }}" data-nom="{{ nomid }}">
                        <div class="row g-0"> 
                            <!-- Poster -->
                            <a class="grow poster">
                            {% capture image %}{% if nom.image %}{{ nom.image }}{% else %}{{ nominee.image }}{% endif %}{% endcapture %}
                            <img class="card-img w-100 h-100 rounded-5 p-0" src="/{{page.show}}/{{page.year}}/images/{{ image }}" width="230" height="355" alt="{{ name }}" />
                            </a>
                            {% if nom.winner %}
                            <!-- Winner -->
                            <div class="badge rounded-pill bg-danger text-white text-monospace position-absolute top-0 start-50 translate-middle w-auto">WINNER</div> 
                            {% endif %}

                            <!-- Rating -->
                            <div class="rating">
                                &nbsp;
                            </div>

                            <!-- Title -->
                            <h3 class="w-100 item-title mt-1 fw-bold fs-6" >{{ nominee.title }}</h3>

                            <!-- Meta -->
                            <div class="meta w-100 py-1">
                                {% if nom.name %}{{ nom.name }}<br />{% endif %}
                                {% if nom.sub %}<div class="pb-3">{{ nom.sub }}</div>{% endif %}
                                
                            </div>

                            <div class="buttons">
                                {% if nominee.trailer %}
                                {% if nominee.trailer contains "youtube.com" %}
                                {% assign urlParts = nominee.trailer | split: "v=" %}
                                {% assign videoID = urlParts[1] %}
                                {% assign src = 'https://www.youtube.com/embed/' | append: videoID | append: '?showinfo=0&modestbranding=0&color=white&autoplay=0' %}
                                <a href="#" class="btn btn-outline-secondary btn-block w-100" data-bs-toggle="modal" data-bs-target="#videoModal" data-theVideo="{{ src }}"><i class="fa-regular fa-play"></i> Trailer</a>
                                {% elsif nominee.trailer contains "vimeo.com" %}
                                {% assign urlParts = nominee.trailer | split: "/" %}
                                {% assign videoID = urlParts | last %}
                                {% assign src = 'https://player.vimeo.com/video/' | append: videoID | append: '?title=0&byline=0&portrait=0' %}
                                <a href="#" class="btn btn-outline-secondary btn-block w-100" data-bs-toggle="modal" data-bs-target="#videoModal" data-theVideo="{{ src }}"><span class="fa fa-play"> Trailer</span></a> 
                                {% endif %}
                                {% endif %}
                                {% for streamer in nominee.streaming %}
                                    {% if streamer.source %}
                                    {% capture watchURL %}{% if streamer.url %}{{ streamer.url }}{% else %}#{% endif %}{% endcapture %}
                                    <a href="{{ watchURL }}" class="btn btn-outline-secondary btn-block mt-2 w-100"><span class="source-logo {{streamer.source}}">{% include icons/{{streamer.source}}.svg %}</span></a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div> 
                </div>
                {% endfor %}
                {% endfor %}
                {% endfor %}
            </div>
            </div>
            </div>
            {% include loading.html %}
            {% include video.html %}
        </main>
		{% include footer.html %}
		{% include scripts.html %}
	</body>
</html>
