---

---

<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	<body class="layout-{{ page.layout }}">
        {% assign data = site.data[page.show][page.year] %}
        {% assign dates = "" | split: ',' %}
        {% for aDate in site.data[page.show] %}
            {% assign dates = dates | push: aDate[0] %}
        {% endfor %}
        {% assign sortedDates = dates | sort | reverse %}
        {% include header.html show=page.show year=page.year dates=sortedDates categories=data.categories pagelayout=page.layout %}
        {% capture jsyearstofetch %}["{{ page.year }}"]{% endcapture %}
        {% assign jsnominees = "" | split: ',' %}

        <main class="hide">

            <div class="pb-5 main-content">
            <div class="container">

            {% include subheader.html %} 

            {% for nominee in data.nominees %}
                {% for nom in nominee.noms %}
                    {% assign catid =  nom.cat | slugify %}
                    {% capture nomid %}{% if nom.id %}{{ nom.id }}{% else %}{{ nominee.id }}{% endif %}{% endcapture %}
                    {% capture line %}{ catid: "{{ catid }}", nomid: "{{ nomid }}", winner: "{{ nom.winner }}" }{% endcapture %}
                    {% assign jsnominees = jsnominees | push: line %}
                {% endfor %}
            {% endfor %}

            {% for service in site.data.services %}
                {% assign nominees = "" | split: ',' %}
                {% for nominee in data.nominees %}
                    {% assign numOfStreamers = nominee.streaming | size %}
                    {% if service == "unknown" and numOfStreamers == 0 %}
                        {% assign nominees =  nominees | push: nominee %}
                    {% else %}
                        {% for streamer in nominee.streaming %}
                            {% if streamer.source == service %}
                                {% assign nominees =  nominees | push: nominee %}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
                {% assign numOfNominees = nominees | size %}
                {% if numOfNominees > 0 %}

                <div class="row border-top border-dark pt-4">

                    <div class="col-10 col-lg-3">
                        <h3 class="col-10 pt-3 pb-2 text-center text-warning fw-bold fs-3 cat-title"><span class="source-logo {{service}} align-bottom">{% include icons/{{service}}.svg %}</span><br />{{ numOfNominees }}</h3>
                    </div> <!-- streaming service col -->
                
                    <div class="col-10 col-lg-7">
                        <div class="row">
                            {% for nominee in nominees %}
                            <div class="col-10 col-md-5 col-lg-2">
                                <div class="card mb-3 border-0 fadeup nom" >
                                    <!-- Poster -->
                                    <img class="img w-100 h-100 rounded-5 p-0" src="/{{page.show}}/{{page.year}}/images/{{ nominee.id }}.jpg" width="230" height="355" alt="{{ nominee.title }}" title="{{ nominee.title }}" />
                                    <!-- Title -->
                                    <h3 class="w-100 item-title mt-1 fw-bold fs-6 visually-hidden" >{{ nominee.title }}</h3>
                                    <!-- Winner -->
                                    {% if nom.winner %}
                                    <div class="badge rounded-pill bg-danger text-white text-monospace position-absolute top-0 start-50 translate-middle w-auto">WINNER</div> 
                                    {% endif %}
                                    <!-- Buttons -->
                                    <div class="buttons w-100 pt-3">
                                        {% assign streaming = nominee.streaming | where:"source", service %}
                                        {% for streamer in streaming %}
                                            {% if streamer.source %}
                                            {% capture watchURL %}{% if streamer.url %}{{ streamer.url }}{% else %}#{% endif %}{% endcapture %}
                                            <a href="{{ watchURL }}" class="btn btn-outline-secondary btn-block mb-2 w-100"><span class="source-logo {{streamer.source}}">{% include icons/{{streamer.source}}.svg %}</span></a>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div> <!-- nominees col > row > col -->
                            {% endfor %}
                        </div><!-- nominees col > row -->
                    </div> <!-- nominees col -->
                </div> <!-- nom row -->

                {% endif %} <!-- /if numOfNominees -->
            {% endfor %} <!-- /for services -->
    
            </div> <!-- /container -->
            </div> <!-- /main-content -->
            {% include video.html %}
            {% include loading.html %}
            {% include loading.html %}
            {% include signin.html %}
        </main>
		{% include footer.html %}
        {% include jsbridge.html jsnominees=jsnominees  jsyearstofetch=jsyearstofetch %}
		{% include scripts.html %}
	</body>
</html>
